/*!
  * Item: Kitzu
  * Description: Personal Portfolio Template
  * Author/Developer: Exill
  * Author/Developer URL: https://themeforest.net/user/exill
  * Version: v1.1.0
  * License: Themeforest Standard Licenses: https://themeforest.net/licenses
  */

/* #home {
    background-image: url(../img/yov1.gif);
} */
#home-bg {
    position: absolute;
    opacity: 0.5;
}

.material-icons {
    font-size: 40px;
}
